<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Windows Package Downloader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WindowsPackageDownloader.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #444444 !important;">
    <header>
        <nav class="navbar shadow-lg mb-5 navbar-expand-sm navbar-toggleable-sm navbar-dark bg-nav box-shadow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav mx-auto">
                        <a class="navbar-brand mx-auto fw-bold" style="margin-right: 10px !important;" asp-area="" asp-controller="Home" asp-action="Index">WPD</a>
                        <li class="nav-item" style="background-color: #343434; border-radius: 15px 15px 15px 15px;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item mx-1" style="background-color: #343434; border-radius: 15px 15px 15px 15px;">
                            <a class="nav-link text-white" href="/AddBuild">Add Build</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="p-2 w-50 mx-auto">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
