@import url('https://fonts.googleapis.com/css2?family=Quicksand'); 
html {
    font-size: 14px;
}

* {
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-nav {
    background-color: #040404;
    box-shadow: 10px;
}